<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
  </div><!-- /#index -->

    <div class="article-wrap">
    <article class="page">
    {{ content }}
    <form method="post" action="http://oi.vresp.com?fid=8b82a96030" target="vr_optin_popup" onSubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;" >

    <div style="font-family: verdana; font-size: 11px; padding: 10px; border: 1px solid #f8f3e6; background: ##f8f3e6 ">

    <strong><span style="color: #333333;">Sign Up Today to be a member of Dr. Williams' email list!</span></strong>

    <input type="submit" value="Join Now" style="border: 1px solid #999; padding: 3px;"/><br/>

</div>

</form>
      <div align="center"><br>  <br>  <font size="5"><b> <strong>You are visitor #</strong>
<div align='center'><a href='http://www.hit-counter-html-code.com'><img src='http://www.free-website-hit-counter.com/c.php?d=9&id=44381&s=5' border='0' title='free website hit counter'></a><br / ><small><a href='http://www.free-website-hit-counter.com' title="free website hit counter">Free website hit counter</a></small></div>
</font></td></tr></table><br>
    </article>

    </div>
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>

</div><!-- /.footer-wrap -->
</div><!-- /#main -->
{% include _scripts.html %}

</body>
</html>
